.App{
  display: flex;
  flex-direction: column;

}
.container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1565c0;
}

.todo_inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}



